{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="container">
    <div id="confidentialite">
        <h2>Politique de confidentialité</h2>
        <p>Le Bagad Orvez veille attentivement à la protection de vos données personnelles. Conformément au Règlement Général sur la Protection des Données entré en application le 25 mai 2018, nous vous informons des modalités de collecte de vos informations personnelles et de vos droits en la matière.</p>

        <h4>Données personnelles</h4>
        <h5>Nature des données personnelles collectées</h5>
        <p>Nous collectons des informations personnelles via notre formulaire de contact et notre formulaire de demande de prestation. Les informations qui y sont renseignées (prénom, nom, téléphone, e-mail, message) sont destinées aux services destinataires du message dans le seul but de répondre à la demande.</p>

        <h5>Responsable du traitement des données personnelles</h5>
        <p>Par défaut, le président de l'association est le responsable du traitement des données personnelles</p>

        <h4>Moyens de collecte des données</h4>
        <h5>Qu’est-ce qu’un cookie ?</h5>
        <p>Lors de vos visites sur notre site, des cookies sont susceptibles de s’installer automatiquement sur votre terminal (ordinateur, tablette, smartphone), sous réserve de votre choix. Un cookie est un fichier peu volumineux qui identifie votre terminal et enregistre des informations relatives à votre navigation sur un site. Les données ainsi obtenues facilitent la navigation ultérieure sur ce même site, et permettent diverses mesures de fréquentation. Un cookie ne permet ni votre identification, ni le suivi de votre navigation sur d’autres sites.</p>
        <p>L’acceptation de cookies n’est pas obligatoire. Vous pouvez vous opposer simplement aux cookies en paramétrant votre navigateur ou en cliquant sur « refuser » dans la barre de cookie présente sur notre site. Toutefois, le refus d’installation d’un cookie peut parfois entraîner l’impossibilité d’accéder à certains services. Pour bloquer l’installation de cookies depuis votre navigateur, nous vous invitons à suivre les instructions suivantes :</p>
        <ul> 
            <li>Sous Internet Explorer : Outil > Options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies.</li>
            <li>Sous Mozilla Firefox : Menu > Blocage de contenus > Personnalisé. Cochez la case Cookies et sélectionner tous les cookies tiers.</li>
            <li>Sous Google Chrome : Menu > Paramètres > Paramètres avancés > Paramètres du contenu > Cookies. Désactivez l’option Autoriser les sites à enregistrer et à lire les données des cookies.</li>
            <li>Sous Safari : Menu > Préférences. Cliquez sur Confidentialité, sélectionnez Bloquer tous les cookies.</li>
        </ul>
        <p>Retrouvez plus d’informations sur l’utilisation des cookies sur le site de la CNIL : <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/">http://www.cnil.fr/vos-droits/vos-traces/les-cookies/</a> </p>

        <h5>Cookies Google Analytics</h5>
        <p>Ce site utilise Google Analytics, un service d’analyse de trafic fourni par Google. Google Analytics utilise les cookies mentionnés précédemment. Les données générées par les cookies concernant votre navigation sur notre site seront transférées et stockées par Google aux Etats-Unis. Google utilise ces informations dans le but d’évaluer votre utilisation du site, de compiler des rapports sur l’activité à notre destination et de fournir d’autres services relatifs à l’activité du site et à l’utilisation d’Internet. </p>
        <p>Ces cookies sont conservés pour une durée limitée à 2 mois. </p>
        <p>Vous pouvez vous opposer aux cookies en désactivant leur utilisation via les paramètres de votre navigateur.</p>

        <h4>Conservation et protection de vos données</h4>
        <h5>Conservation des données</h5>
        <p>Elles sont conservées dans un fichier informatisé pour une durée fixée à trois ans.</p>

        <h5>Sécurité</h5>
        <p>Les données sont accessibles à un nombre limité de personnes ayant des droits spécifiques d’accès à ces systèmes.</p>

        <h5>Transmission des données</h5>
        <p>Aucune information personnelle n’est publiée à votre insu, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat du site et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de protection des données.</p>

        <h4>Droit d’accès, de rectification et de suppression</h4>
        <p>Conformément au Règlement Général sur la Protection des Données entré en application le 25 mai 2018, vous disposez d’un droit d’accès, de rectification et de suppression aux données personnelles collectées. Pour l’exercer, adressez-nous votre demande par e-mail ou par voie postale, accompagnée d’une copie d’un titre d’identité avec signature du titulaire de la pièce, à l’adresse suivante :</p>
        <p>
            Bagad Orvez <br>
            Château de la Gobinière<br>
            37 Avenue de La Ferrière<br>
            44700 ORVAULT</p>
        <p>Ou par mail à l'adresse <a href="mailto:bagadorvez44@gmail.com">bagadorvez44@gmail.com</a></p>
        <p>Votre demande sera traitée dans les plus brefs délais.</p>

    </div>
</div>

{% endblock %}