{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container">
    <div id="mentions">
    <h2>Mentions légales</h2>
    <div class="mentions-div">
        <b class="b-margin">Edition et réalisation du site :</b>
        <p>Bagad Orvez <br>
        Domicilié : <br>
        Directrice de la publication : Marie Vial<br>
        Email : <a href="mailto:bagadorvez44@gmail.com">bagadorvez44@gmail.com</a></p>
    </div>

    <div class="mentions-div">
        <b class="b-margin">Hébergement : </b>
        <p>o2switch SARL<br>
        222-224 Boulevard Gustave Flaubert<br>
        63000 Clermont-Ferrand</p>

    </div>
    <div class="mentions-div">
        <b class="b-margin">Copyright :</b>
        <p>L’utilisation de ce site exprime votre consentement sur les conditions d’utilisation. Si vous n’acceptez pas ces conditions, veuillez-vous abstenir d’utiliser ce site. Le contenu de ce site (notamment données, informations, illustrations, etc. …) est protégé par droit d’auteur et autres droits de propriété intellectuelle. Toute reproduction ou représentation totale ou partielle de ce site par quelque procédé que ce soit, sans autorisation expresse, est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
        <p>Toute reproduction totale ou partielle des logos, images, scripts, code HTML, balises meta effectuée à partir des éléments du site sans notre autorisation expresse est prohibée au sens de l’article L.713-2 du Code de la propriété intellectuelle.</p>
        <p>Toute copie, reproduction, diffusion, intégrale ou partielle, du contenu du site par quelque procédé que ce soit est illicite à l’exception d’une unique copie sur un seul ordinateur et réservée à l’usage exclusivement privé du copiste.</p>
        <p>Les éléments présentés dans ce site sont susceptibles de modification sans préavis et sont mis à disposition sans aucune garantie, expresse ou implicite, d’aucune sorte et ne peuvent donner lieu à un quelconque droit à dédommagement.</p>
        <p>Il appartient à l’utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par des éventuels virus circulant sur le réseau Internet.</p>
</div>
</div>
</div>
{% endblock %}