{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<section id="formulaire-contact">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <h2>Contactez-nous !</h2>
    <p>Pour toute sollicitation relative à une prestation : <a href="{{ path('app_demande')}}">c'est plutôt par ici
            !</a></p>

    <p> {% for parametre in parametres %}
        {{ parametre.contactsContactParametre|raw  }}
        {% endfor %}
    </p>

    <div class="offset-md-3 col-md-6 offset-md-3">

        {{ include('contact/_form.html.twig') }}


    </div>
</section>

{% endblock %}