{% extends 'base.html.twig' %}

{% block title %}Bagad Orvez{% endblock %}

{% block body %}

<div>
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-header">Accès au fichier des sorties</div>
        <div class="card-body">
            <h4 class="card-title">Fichier des sorties</h4>
            <p class="card-text">Retrouvez toutes les sorties sur le fichier des sorties</p>
            <div class="centrer2">
                <a
                    href="https://docs.google.com/spreadsheets/d/1LFRxtarAkRYr1KkxkeflVB4Lc_Ou0Qbl6KBh8O8v_JM/edit#gid=470406929"><button
                        type="button" class="btn btn-primary">Ici</button></a>
            </div>
        </div>
    </div>

</div>
{% endblock %}