{% extends 'base.html.twig' %}

{% block title %}Espace adhérent{% endblock %}

{% block body %}
<section id="infos-bagad">
    <div class="container">
        <h2>Espace adhérent</h2>
        <p>Cher adhérent, retrouvez ici l'accès aux fichiers liés aux activités du bagad.</p>
        <div class="row">


            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Fichier des sorties</h4>
                    </div>
                    <div class="card-body carte-centrer">

                        <p class="card-text">Retrouvez toutes les sorties du bagad sur le fichier des sorties et
                            manifestez votre présence ou non à ces évènements</p>
                        <div class="centrer2">
                            <a
                                href="https://docs.google.com/spreadsheets/d/1LFRxtarAkRYr1KkxkeflVB4Lc_Ou0Qbl6KBh8O8v_JM/edit#gid=470406929"><button
                                    type="button" class="btn btn-primary">Fichier des sorties</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Drive</h4>
                    </div>
                    <div class="card-body carte-centrer">

                        <p class="card-text">Retrouvez tous les documents du bagad sur le drive (partitions, audio...)
                        </p>
                        <div class="centrer2">
                            <a href="https://drive.google.com/drive/folders/1l2kjNE7CmHrg0UVOckwHUYJ4bi23Dooo"><button
                                    type="button" class="btn btn-primary">Drive</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Photos</h4>
                    </div>
                    <div class="card-body carte-centrer">

                        <p class="card-text">Déposez toutes vos photos et vidéos du bagad dans ce drive </p>
                        <div class="centrer2">
                            <a
                                href="https://drive.google.com/drive/u/0/folders/0B-9n8YaBoinqdktma09XbGxNdVk?resourcekey=0-zAYg3sOuXw96EDn1wO8Ccg"><button
                                    type="button" class="btn btn-primary">Espace photos</button></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <hr>
        <h2>Espace CA</h2>
        <p>Membres du CA, retrouvez centralisés ici tous les fichiers liés au CA du Bagad Orvez.</p>
        <div class="cartes-wrap">
            <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                <div class="card-header">
                    <h4 class="card-title">Calendrier de l'école de musique</h4>
                </div>
                <div class="card-body carte-centrer">

                    <p class="card-text">Retrouvez les dispos/indispos de l'école de musique ici </p>
                    <div class="centrer2">
                        <a
                            href="https://docs.google.com/spreadsheets/d/1aFW_umIkbJFz7ekaJpZ4RRThzJnREs946Zar5lY6UtQ/edit?usp=sharing"><button
                                type="button" class="btn btn-primary">Calendrier</button></a>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                <div class="card-header">
                    <h4 class="card-title">Suivi des heures des profs</h4>
                </div>
                <div class="card-body carte-centrer">

                    <p class="card-text">Retrouvez les heures des professeurs de l'école de musique </p>
                    <div class="centrer2">
                        <a
                            href="https://docs.google.com/spreadsheets/d/1rjmcGwSlXoFmcFGCtc2l5URD1EtS_RO9YnOZ8TKgqc8/edit?usp=sharing"><button
                                type="button" class="btn btn-primary">Heures des profs</button></a>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                <div class="card-header">
                    <h4 class="card-title">Fichier des adhérents</h4>
                </div>
                <div class="card-body carte-centrer">

                    <p class="card-text">Retrouvez les fichier des adhérents ici </p>
                    <div class="centrer2">
                        <a
                            href="https://docs.google.com/spreadsheets/d/1yH_zFwZC4YPlGOUIQ2rCElwqbbpNeFpRgNDBwq2SrqU/edit?usp=sharing"><button
                                type="button" class="btn btn-primary">Fichier des adhérents</button></a>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                <div class="card-header">
                    <h4 class="card-title">Salles</h4>
                </div>
                <div class="card-body carte-centrer">

                    <p class="card-text">Retrouvez les salles du Bagad Orvez </p>
                    <div class="centrer2">
                        <a
                            href="https://docs.google.com/spreadsheets/d/1i94vbP8AMmWpZYL4yJKamR45mpCTb_q6a0MTQqJ89zg/edit?usp=sharing"><button
                                type="button" class="btn btn-primary">Salles</button></a>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                <div class="card-header">
                    <h4 class="card-title">Dossier administratif</h4>
                </div>
                <div class="card-body carte-centrer">

                    <p class="card-text">Retrouvez le fichier administratif</p>
                    <div class="centrer2">
                        <a
                            href="https://drive.google.com/drive/folders/1nvJ4L1ALCeQRP5FBxLFP0rFu-pFmzq_j?usp=share_link"><button
                                type="button" class="btn btn-primary">Fichier</button></a>
                    </div>
                </div>
            </div>


        </div>
        <hr>
        <h2>Commissions</h2>
        <p>Retrouvez ici les fichiers liés aux commissions du Bagad Orvez</p>
        <div class="carte-solo">
            <div class="card text-white bg-warning mb-3 carte" style="max-width: 20rem;">
                <div class="card-header">
                    <h4 class="card-title">Commission musique</h4>
                </div>
                <div class="card-body carte-centrer">

                    <p class="card-text">Retrouvez le drive de la commission musique </p>
                    <div class="centrer2">
                        <a
                            href="https://drive.google.com/drive/folders/1NLP3KhVsmbgLl9CNtJjDFrjMmC3NrHWL?usp=share_link"><button
                                type="button" class="btn btn-primary">Commission musique</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}