{% extends 'base.html.twig' %}

{% block title %}Vie associative - Bagad Orvez{% endblock %}

{% block body %}


<section id="vie-associative">
    <h2>La vie associative</h2>
    <p>La vie associative au sein du bagad est riche et nos valeurs principales sont le <strong> partage</strong> et la
        <strong>convivialité</strong>.
    </p>
    <p> <strong>L’adhésion</strong> à l’association est de :

        {% for parametre in parametres %}
        {{ parametre.prixAdhesionParametre|raw }}
        {% endfor %}

    <p> Des personnes ne pratiquant pas la musique peuvent également adhérer à l’association et participer
        (ou pas !) à hauteur de leurs compétences et de leurs envies (porte-drapeau, accompagnant lors des
        sorties, secrétariat, etc.).</p>
    <p> Le Bagad essaie de favoriser les interactions et la convivialité entre l’ensemble des adhérents et
        leurs proches en proposant plusieurs rendez-vous (repas de Noël, repas de fin d’année, journée
        portes-ouvertes, journée d’étude, pôt de l’amitié en fin de répétition…). Le Bagad est également
        ouvert aux propositions de ses adhérents.</p>
    <div class="centrer">
        <div id="img-repas-noel">

        </div>
        <p>Un repas de Noël du bagad</p>
    </div>
    <p> Les talents des uns et des autres sont des richesses que chacun est invité à partager et qui sont
        indispensables à la vie de l’association. L’adhérent sera ainsi incité à prendre part aux différentes
        commissions (Musique, matériel, sorties, festive…) ainsi qu’au Conseil d’Administration.
        Au sein de notre association, le nouvel adhérent sera hautement considéré et tous nos moyens
        seront mis en œuvre pour l’intégrer au plus vite.</p>
    <p> Il constatera rapidement que les maîtres-mots <strong>convivialité</strong> et <strong>partage</strong> prennent
        chez nous
        rapidement tout leur sens !</p>

    <div class="centrer">
        <div id="img-pot">

        </div>
        <p>Les pots sont toujours des moments de convivialité</p>
    </div>
</section>
{% endblock %}