<footer>
    <div class="container">
        <div id="reseaux">
            <p>Suivez-nous sur les réseaux !</p>
            <p><a href="https://www.facebook.com/bagadorvault44"><i class="fa-brands fa-facebook"></i></a> <i class="fa-brands fa-instagram"></i></p> 
        </div>

        <div id="copyright">
            <p> Copyright © 2023 Bagad Orvez</p>
        </div>
    </div>

</footer>