{% extends 'baseAdmin.html.twig' %}

{% block title %}Editer les autres infos{% endblock %}

{% block body %}
<div class="container">
    <h4>Editer les autres infos</h4>
    <p class="info-danger">Attention : ne laissez aucun champ vide !</p>

    {{ include('parametre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

</div>

{% endblock %}