{% extends 'baseAdmin.html.twig' %}

{% block title %}Editer un évènement{% endblock %}

{% block body %}
<div class="container">
    <h4>Editer un évènement</h4>

    {{ include('evenement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

</div>
{% endblock %}