{% extends 'baseAdmin.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
<div class="container">
    <h4>Create new Evenement</h4>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}">back to list</a>
</div>
{% endblock %}
