{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block body %}
<div class="container">
    <h4>Créer un nouvel évènement</h4>

    {{ include('evenement/_form.html.twig') }}


</div>
{% endblock %}