{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace administration{% endblock %}

{% block body %}
<section id="admin">
    <h4>Espace administration</h4>
    <p>Bienvenue sur l'espace administration du site du Bagad Orvez.</p>

    <p>Dans "Adhérents", vous pouvez consulter la liste des utilisateurs du site et y attribuer les rôles "adhérent" et
        "administrateur".</p>
    <p>Dans "profs" vous pouvez consulter les professeurs du bagad et les modifier, les supprimer ou en créer de
        nouveaux.</p>
    <p>Vous pouvez en faire de même pour les cours dans la section "cours".</p>
    <p>Dans "autres infos", paramétrez certaines infos visibles sur le site tel que l'année scolaire en cours. </p>
    <p>Dans "agenda" retrouvez tous les évènements affichés sur la page "agenda" du site.</p>
    <p>Vous pourrez retrouver les demandes de prestations envoyées via le formulaire de demande de prestation du site
        dans "demandes de prestation".</p>
    <p>De même, retrouvez les demandes de contact faites sur le site dans "autres demandes"</p>
</section>

{% endblock %}