{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace administration{% endblock %}

{% block body %}
<section id="admin">
    <h4>Espace administration</h4>
    <p>Bienvenue sur l'espace administration du site du Bagad Orvez.</p>
</section>

{% endblock %}