<form class="delete-form" method="post" action="{{ path('app_contact_delete', {'id': contact.id}) }}"
    onsubmit="return confirm('Etes-vous sûr.e de vouloir supprimer cela ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>