{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Prof{% endblock %}

{% block body %}
<div class="container">
    <h4>Editer</h4>

    {{ include('prof/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    
</div>
{% endblock %}
