{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau professeur{% endblock %}

{% block body %}
<div class="container">
    <h4>Créer un nouveau professeur</h4>

    {{ include('prof/_form.html.twig') }}


</div>
{% endblock %}