$couleurNoire : rgb(26, 26, 26);

$blanctransparent : rgba(255, 255, 255, 0.774);

$jaune : rgb(254, 195, 0);

$rouge : rgb(208, 15, 15);

// $jaunepale : rgb(255, 243, 202);

$grisfonce : rgb(59, 59, 59);

$gris : rgb(152, 152, 152);

$grisclair : rgb(205, 205, 205);

$jaunepale : rgba(254, 195, 0, 0.076);

$degradenoir1 : rgba(0, 0, 0, 0.479);

$degradenoir2 : rgba(0, 0, 0, 0.484);

$degradenoir3 : rgba(0, 0, 0, 0.08);

$degradenoir4 : rgba(0, 0, 0, 0.702);