@import 'variables';

// html {
//     font-size: 62.5%; /* équivalence "10px" sur l'élément racine */
// }

body {
    // font-size: 1.6rem; /* taille de base pour tous les éléments équivalent 14px */
    margin: 0;
    font-family: 'Assistant', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 3rem;
}

strong {
    font-weight: bold;
}


// NAVBAR --------------------------------------------------------------------------
.navbar {
    font-family: 'Dosis';
    font-weight: 500;

    ul {
        li {
            font-size: 1rem;
            text-align: center;


            // font-family: 'Dosis';
            a {
                font-size: 1rem;
                text-align: center;

            }


        }
    }
}

// FOOTER -------------------------------------------------------------------

footer {
    height: 200px;
    background-color: $couleurNoire;
    color: white;

    h5 {
        font-family: 'Dosis';
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        transition: 1s;
    }

    a:hover {
        color: grey;
        text-decoration: none;
    }
}

#footer-liens {
    padding: 30px;
    padding-left: 100px;
}

#reseaux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;

    p {
        margin: 10px
    }

    i {
        margin: 15px;
        font-size: 35px;
    }

    a {
        color: white;
        transition: 1s;
    }

    a:hover {
        color: grey;
    }
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

//CONNEXION ---------------------------------------------------------------------
//----------------------------------------------------------------------------

#reset-password {
    margin: 100px;
}

#check-email {
    margin: 100px;
}

// ACCUEIL------------------------------------------------------------------------
//---------------------------------------------------------------------------------

// BOUTON HAUT DE PAGE --------------------------------------------------------
.haut-page {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.165);
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    opacity: 1;
    z-index: 9999;
}

.haut-page i {
    transform: rotate(270deg);
}

.haut-page a {
    color: white;
}

.invisible {

    display: none;
}

#haut-page .visible {
    bottom: 50px;
    opacity: 1;
}

//HEADER -----------------------------------------------------------------------------
header {
    margin-top: 30px;
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.702)), url('../photos/1.PNG');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

    h1,
    h3 {
        color: rgba(255, 255, 255, 0.774);
    }

    h1 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 100px;
    }
}

#header {
    margin-left: 100px;
    width: 700px;
}

// SECTION PRESENTATION ------------------------------------------------------------------
#presentation {
    margin: 100px;

    h2 {
        font-size: 3rem;
    }
}



// CAROUSEL -----------------------------------------------------------------------------
.carousel-caption button {
    font-size: 1rem;
}

// SECTION PRESENTATION 2 -----------------------------------------------------------------
#presentation2 {
    margin: 100px;
    text-align: right;

    h2 {
        font-size: 3rem;
    }
}

// SECTION LIENS -------------------------------------------------------------------------
#liens {
    h4 {
        font-size: 2rem;
    }

    margin-bottom : 100px;
}

#lien-agenda,
#lien-contact,
#lien-cours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;

    button {
        font-size: 1.1rem;
        margin: 20px;
        padding: 15px;
    }

}

#lien-agenda {
    background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.484)), url('../images/cornemuse1.jpg');

}

#lien-cours {
    background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.484)), url('../images/partition.jpg');

}

#lien-cours,
#lien-agenda {
    background-position: center;
    background-size: cover;

    h4 {
        color: white;
    }
}

#lien-contact {
    background-color: $jaune;
}


//
// ECOLE DE MUSIQUE - PRESENTATION--------------------------------------------------------
//-----------------------------------------------------------------------------------------

#ecole-presentation {
    margin: 100px;

}

.carte-prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 20px;

}

.img-prof {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: 20px;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;
}

.img-prof:hover {
    transform: scale(1.1);
    filter: saturate(100%) brightness(100%);
}

#presentation-photo1 {
    background-image: url('../photos/Cornemuse.PNG');
}

#presentation-photo2 {
    background-image: url('../photos/sonneurs.PNG');
}

#presentation-photo3 {
    background-image: url('../photos/caisses.PNG');
}

#presentation-photo4 {
    background-image: url('../photos/Cornemuse.PNG');
}

#presentation-photo1,
#presentation-photo2,
#presentation-photo3,
#presentation-photo4 {
    height: 300px;
    width: 200 px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;
    ;
}

#presentation-photo1:hover,
#presentation-photo2:hover,
#presentation-photo3:hover,
#presentation-photo4:hover {
    transform: scale(1.1);
    filter: saturate(100%) brightness(100%);
}

//
// VIE ASSOCIATIVE -----------------------------------------------------------------------
//---------------------------------------------------------------------------------------
#vie-associative {
    margin: 100px;
}

#img-repas-noel {
    height: 300px;
    width: 550px;
    margin: 20px;
    background-image: url('../photos/repas.jpg');
    background-position: center;
    background-size: cover;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;
    ;
}

#img-repas-noel:hover {
    filter: saturate(100%) brightness(100%);
    transform: scale(1.1);
}

.centrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#img-pot {
    height: 300px;
    width: 550px;
    margin: 20px;
    background-image: url('../photos/pot.jpg');
    background-position: center;
    background-size: cover;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;
    ;
}

#img-pot:hover {
    filter: saturate(100%) brightness(100%);
    transform: scale(1.1);
}

//
// COURS ET REPETITIONS -------------------------------------------------------------------
// ---------------------------------------------------------------------------------------

#cours-repetitions {
    margin: 100px;
}

#illustration-repetition {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#img-cours {
    background-image: url(../photos/cours.jpg);
    width: 400px;
    height: 300px;
    background-position: center;
    background-size: cover;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;
}

#img-cours:hover {
    filter: saturate(100%) brightness(100%);
    transform: scale(1.1);
}

#photo-repetition {
    height: 300px;
    width: 550px;
    background-image: url('../photos/repetitions2.PNG');
    background-position: center;
    background-size: cover;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;
    ;
}

#photo-repetition:hover {
    filter: saturate(100%) brightness(100%);
    transform: scale(1.1);
}


//
// GALERIE ----------------------------------------------------
//--------------------------------------------------------------------------
#galerie {
    margin: 100px;

    img {
        width: calc(100% / 8);
        margin: 5px;
    }
}

// #conteneur-photos {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
// }

//
// DEMANDE DE PRESTATION ----------------------------------------------------
//--------------------------------------------------------------------------
#formulaire-demande-prestation {
    margin: 100px;
}

//
// AGENDA------------------------------------------------------------
//-------------------------------------------------------------------------------
#agenda {
    margin: 100px;
}

.carte-evenement {
    display: flex;
    align-items: center;
    transition: all .5s;
    margin: 30px;
    padding: 30px;
    background-color: $jaunepale2;

}

.carte-evenement:hover {
    scale: 1.1;
    border: 1px solid rgb(182, 182, 182);
}

.img-evenement {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        font-family: 'Dosis';
        font-size: 2rem;
        color: black;
        font-weight: bold;
    }
}

.corps-evenement {
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.2rem;
    }
}

//
// CONTACT  ----------------------------------------------------
//--------------------------------------------------------------------------

#formulaire-contact {
    margin: 100px;
}

//
//INFORMATIONS BAGAD------------------------------------------------------------
//-------------------------------------------------------------------------------
#infos-bagad {
    margin: 100px;
}

#cartes {
    display: flex;
    justify-content: center;
}

.carte {
    margin: 30px;
}

.carte-centrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

//RESET PASSWORD -------------------------------------------------------------
#reset {
    margin: 100px;
}

//--------------------------------------------------------------------------------
// BASEADMIN ----------------------------------------------------------------------
// --------------------------------------------------------------------------------

h4 {
    font-size: 1.5rem;
    margin: 20px 0;
}

table th {
    font-size: 0.7rem;
}

#bandeau-admin {
    height: 60px;
    background-color: $couleurNoire;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: rgb(165, 165, 165);
    }

    i {
        margin: 0 15px;
    }
}

#menu-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(59, 59, 59);
    // position: relative;
    // left: -260px;
    // transition: 1s;
}

// #menu-admin:hover {
//     left: 0px;
// }

.menu-item {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(59, 59, 59);
    color: white;

    a {
        font-size: 1rem;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}

.menu-item:hover {
    background-color: rgb(152, 152, 152);
}

// .menu-item:active {
//     background-color: rgb(152, 152, 152);
// }

.active {
    background-color: rgb(152, 152, 152);
}

#conteneur-admin {
    height: 100%;
}

#corps-admin {
    height: 100%;
    width: 95%;
}

.sf-toolbar-clearer {
    height: 0;
}

#col-2 {
    width: 100%;
}

// PROFS ----------------------------------------------------------------------------------------
.card-prof img {
    height: 300px;
    width: 300px;
    text-align: center;
}

.card-prof {
    width: 350px;
    margin: 20px;
}

.card-body button {
    margin-right: 10px;
}

.nouveau button {
    margin: 15px 0;
}

.cards-wrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // width: 100%;
    justify-content: center;
}

.card-img {
    display: flex;
    justify-content: center;
}

// LOGIN ----------------------------------------------------------------------
.h4 {
    margin: 30px 0;
}

.login-form {
    margin: 30px;

    button {
        margin-top: 20px;
    }
}

// footer .nav-link {
//     display: none;
// }

// FORMS ----------------------------------------------------------------------------


.form-button {
    display: flex;
    justify-content: center;

    button {
        margin: 20px 0;
    }
}

// BOUTONS ---------------------------------------------------------------------------
.groupe-boutons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
        margin: 5px;
    }
}


.show-buttons {
    display: flex;
    justify-content: center;

    button {
        margin: 0 20px;
    }
}

// EVENEMENTS-----------------------------------------------------------------
.image-evenement {
    height: 300px;
    width: 300px;
}