@import 'variables';

// html {
//     font-size: 62.5%; /* équivalence "10px" sur l'élément racine */
// }

body {
    // font-size: 1.6rem; /* taille de base pour tous les éléments équivalent 14px */
    margin : 0;
    font-family: 'Assistant', sans-serif;
}

h1, h2 {
    font-family: 'Alegreya', sans-serif;
}

h2 {
    font-size: 3rem;
}

strong {
    font-weight: bold;
}


// NAVBAR --------------------------------------------------------------------------
.navbar {
    ul {
        li {
            font-size : 1rem;
            // font-family: 'Dosis';
            a {
                font-size : 1rem;
            }
        }
    }
}
// FOOTER -------------------------------------------------------------------

footer {
    height : 200px;
    background-color: $couleurNoire;
    color: white;
}

#reseaux {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    i {
        margin : 15px;
        font-size: 35px;
    }
    a {
        color: white;
    }
}

#copyright {
    display : flex;
    justify-content: center;
    align-items: center;
}


// ACCUEIL------------------------------------------------------------------------
//---------------------------------------------------------------------------------

//HEADER -----------------------------------------------------------------------------
header {
    margin-top : 30px;
    height : 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.352), rgba(0, 0, 0, 0.721)), url('../photos/1.PNG');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  background-repeat: no-repeat;
    display :flex;
    align-items : flex-end;

    h1, h3 {
        color: rgba(255, 255, 255, 0.774);
    }
    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 2rem;
        margin-bottom : 100px;
    }
}

#header {
    margin-left : 100px;
    width : 700px;
}

// SECTION PRESENTATION ------------------------------------------------------------------
#presentation {
    margin : 100px;
    h2 {
        font-size: 3rem;
    }
}

#presentation-photo1 {
    background-image: url('../photos/Cornemuse.PNG');
}

#presentation-photo2 {
    background-image: url('../photos/sonneurs.PNG');
}

#presentation-photo3 {
    background-image: url('../photos/caisses.PNG');
}

#presentation-photo4 {
    background-image: url('../photos/Cornemuse.PNG');
}

#presentation-photo1, #presentation-photo2, #presentation-photo3, #presentation-photo4 {
    height : 300px;
    width : 200 px;
    background-position: center;
    background-size: cover;
    margin-top : 20px;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;;
}

#presentation-photo1:hover, #presentation-photo2:hover, #presentation-photo3:hover, #presentation-photo4:hover {
    transform: scale(1.1);
    filter: saturate(100%) brightness(100%);
}

// CAROUSEL -----------------------------------------------------------------------------
.carousel-caption button {
    font-size: 1rem;
}

// SECTION PRESENTATION 2 -----------------------------------------------------------------
#presentation2 {
    margin : 100px;
    text-align: right;
    h2 {
        font-size: 3rem;
    }
}

// SECTION LIENS -------------------------------------------------------------------------
#liens {
    h4 {
        font-size: 2rem;
    }
    margin-bottom : 100px;
}

#lien-agenda, #lien-contact, #lien-cours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height : 500px;
    button {
        font-size: 1.1rem;
        margin : 20px;
        padding: 15px;
    }
    
}

#lien-agenda {
    background : linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.484)), url('../images/cornemuse1.jpg');

}

#lien-cours {
    background : linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.484)), url('../images/partition.jpg');
    
}

#lien-cours, #lien-agenda {
    background-position: center;
    background-size: cover;
    h4 {
        color : white;
    }
}

#lien-contact{
    background-color: $jaune;
}


//
// ECOLE DE MUSIQUE - PRESENTATION--------------------------------------------------------
//-----------------------------------------------------------------------------------------

#ecole-presentation {
    margin : 100px;
    
}


//
// VIE ASSOCIATIVE -----------------------------------------------------------------------
//---------------------------------------------------------------------------------------
#vie-associative {
    margin : 100px;
}

//
// COURS ET REPETITIONS -------------------------------------------------------------------
// ---------------------------------------------------------------------------------------

#cours-repetitions {
    margin : 100px;
}

#illustration-repetition {
    display: flex;
    justify-content: center;
    margin-top : 30px;
}

#photo-repetition {
    height : 300px;
    width : 550px;
    background-image: url('../photos/repetitions2.PNG');
    background-position: center;
    background-size: cover;
    filter: saturate(25%) brightness(50%);
    transition: all .5s;;
}

#photo-repetition:hover {
    filter: saturate(100%) brightness(100%);
    transform: scale(1.1);
}



//--------------------------------------------------------------------------------
// BASEADMIN ----------------------------------------------------------------------
// --------------------------------------------------------------------------------

h4 {
    font-size: 1.5rem;
    margin : 20px 0;
}

table th {
    font-size: 1rem;
}
#bandeau-admin {
    height : 60px;
    background-color: $couleurNoire;
    color : white;
    display : flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: rgb(165, 165, 165);
    }
    i {
        margin : 0 15px;
    }
}

#menu-admin {
    display : flex;
    flex-direction : column;
    align-items: center;
    height : 100%;
    background-color: rgb(59, 59, 59);
}

.menu-item {
    display : flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    height : 60px;
    background-color: rgb(59, 59, 59);
    color : white;
    a {
        font-size: 1rem;
        text-transform: uppercase;
        color : rgb(255, 255, 255);
        text-decoration: none;
    }
}

.menu-item:hover {
    background-color: rgb(152, 152, 152);
}

// .menu-item:active {
//     background-color: rgb(152, 152, 152);
// }

.active {
    background-color: rgb(152, 152, 152);
}

#conteneur-admin {
    height : 100%;
}

#corps-admin {
    height : 100%;
}

.sf-toolbar-clearer {
    height : 0;
}

// PROFS ----------------------------------------------------------------------------------------
.card img {
    height : 300px;
    width : 300px;
    text-align: center;
}

.card {
    width : 350px;
    margin : 20px;
}

.card-body button {
    margin-right : 10px;
}

.nouveau button {
    margin : 15px 0;
}

.cards-wrap {
    display : flex;
    flex-wrap : wrap;
}

// LOGIN ----------------------------------------------------------------------
.h4 {
    margin : 30px 0;
}

#login-form {
    margin : 30px;
    button {
        margin-top : 20px;
    }
}

// FORMS ----------------------------------------------------------------------------


.form-button {
    display : flex;
    justify-content: center;
    button {
        margin : 20px 0;
    }
}

.show-buttons {
    display : flex;
    justify-content: center;
    button {
        margin : 0 20px;
    }
}