{% extends 'baseAdmin.html.twig' %}

{% block title %}Editer le cours{% endblock %}

{% block body %}
<div class="container">
    <h4>Editer le cours</h4>

    {{ include('cours/_form.html.twig', {'button_label': 'Mettre à jour'}) }}




</div>
{% endblock %}