{% extends 'baseAdmin.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
<div class="container">
    <h4>Create new Cours</h4>

    {{ include('cours/_form.html.twig') }}

    <a href="{{ path('app_cours_index') }}">back to list</a>
</div>
{% endblock %}
