{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau cours{% endblock %}

{% block body %}
<div class="container">
    <h4>Nouveau cours</h4>

    {{ include('cours/_form.html.twig') }}


</div>
{% endblock %}