{% extends 'base.html.twig' %}

{% block title %}Ecole de musique - présentation{% endblock %}

{% block body %}
<section id="ecole-presentation">
    <h2>Ecole de musique - présentation</h2>
    <p> Le Bagad forme des sonneurs débutants et confirmés pour qu’ils puissent intégrer le Bagad.
    L’admission à l’école de musique peut s’effectuer dès l’âge de 6 ou 7 ans et dépend de la bonne
    coordination des mouvements. Des cours spécifiques (contenu pédagogique, durée) sont prévus
    pour les enfants.</p>

    <p>Il n’y a aucune limite d’âge pour intégrer l’école de musique et de nombreux musiciens de notre
    groupe profitent de leur départ en retraite pour rattraper le temps perdu et laisser libre-cour à leur
    passion.</p>

    <p>La formation est assurée par des professeurs de qualité :</p>




    <p>Le solfège :</p>
    <p>Le solfège nécessaire pour la musique de Bagad est très simple et peut être assimilé en
    quelques cours seulement. Il est indispensable au sonneur de Bagad pour pouvoir jouer
    exactement la même note en même temps que ses camarades. Pas de panique ! … de petits
    stages de solfège seront organisés dans le cadre des cours et en marge si besoin.</p>

    <p>Les instruments de musique :</p>
        <ul>
            <li>Le bagad fournit l’ensemble des instruments du pupitre caisses-percussions</li>
            <li>Le bagad peut prêter quelques bombardes ou cornemuses notamment en début de
    formation</li>
        </ul>
    
    
</section>
{% endblock %}